.audio-recorder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.buttons-container {
  margin-top: 20px;
}

.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  padding: 0rem 4rem;
}

.transcript-field {
  padding: 1.3rem 0rem;
}
